Repository razzius/weave: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, eslint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: poetry run flake8
    types: [python]
  - id: eslint
    name: eslint
    stages: [commit]
    language: system
    entry: yarn run eslint
    types: [javascript]
    files: src/.+.js
  - id: pytest
    name: pytest
    stages: [manual]
    language: system
    entry: poetry run pytest
    types: [python]

Try updating nth-check version
  package.json
  yarn.lock
Due: none

Make flask app session scoped
  tests/conftest.py
Due: flake8

Explicitly set DATABASE_URL for tests, tho it shouldn't be necessary
  .github/workflows/pytest.yml
Due: none

Delete .buildpacks
  .buildpacks
Due: none

Add provision.sh and vagrant config for it
  .tool-versions
  Dockerfile
  Vagrantfile
  provision.sh
Due: none

Consistently use podman in Makefile
  Makefile
Due: none

Add profile configuration as comments to Vagrantfile
  Vagrantfile
Due: none

Add warning about sessions needing SECRET_KEY
  app.py
Due: flake8

Move login button to same container as other nav buttons
  src/App.js
Due: eslint

Remove some unused packages and some polyfills
  package.json
  src/index.js
  yarn.lock
Due: eslint

Switch react-scripts out for parcel, fix navbar to be responsive
  .gitignore
  index.html
  package.json
  src/App.css
  src/App.js
  src/assets/duke-health-logo.png
  yarn.lock
Due: eslint

Fix Dockerfile node version and update yarn.lock
  Dockerfile
  package.json
  yarn.lock
Due: none

Remove unused scripts/servers.sh
  scripts/servers.sh
Due: none

Switch out yarn for pnpm
  .tool-versions
  Dockerfile
  README.md
  package.json
  pnpm-lock.yaml
  provision.sh
  server/views/home.py
  yarn.lock
Due: flake8

wip
  Dockerfile
  README.md
  TODO
  public/assets/hms-crest.png
  public/assets/hsdm-crest.svg
  public/assets/star-outline.png
  src/api.js
Due: eslint

Bunch of parcel and ui fixes
  .flaskenv
  .gitignore
  Dockerfile
  app.py
  package.json
  server/emails/__init__.py
  server/views/home.py
  src/App.css
  src/App.js
  src/Browse.js
  src/OwnProfileLink.js
  src/ProfileForm.js
  src/ProfileStar.js
  src/assets/star-active.svg
  src/assets/star-inactive.svg
  src/index.css
  yarn.lock
Due: flake8, eslint

Make nodejs version 20.5.1
  .tool-versions
Due: none

Change tooltips to titles, remove react-tooltip
  package.json
  src/App.js
  src/CheckboxIndicator.js
  src/ProfileForm.js
  src/ProfileView.js
  src/ResultsView.js
  src/SubmitEmailForm.js
  yarn.lock
Due: eslint

Remove vagrant-specific stuff from provision.sh
  provision.sh
Due: none

Upgrade python to 3.14 and python dependencies
  .tool-versions
  README.md
  poetry.lock
  provision.sh
  pyproject.toml
  server/models.py
  tests/conftest.py
Due: flake8

Upgrade python versions in github workflows
  .github/workflows/flake8.yml
  .github/workflows/mypy.yml
  .github/workflows/pytest.yml
Due: none

Add --no-root to poetry installs
  .github/workflows/flake8.yml
  .github/workflows/mypy.yml
  .github/workflows/pytest.yml
Due: none
